/* global variables */
:root {
  --height: 65vh;
}

/* page layout */
* {
  box-sizing: border-box;
}

body{
    height: 100vh;
    border: 0;
    padding: 0;
}

h1 {
  text-align: center;
}

main,
header {
    /* width: 90%; */
    border-left: 40px;
}

.styles {
  border: 1px solid gray;
  border-radius: 5px;
}

.layout-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: 1;
  grid-column-end: 3;
}

.header-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

#main-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#flex-global-prop {
    grid-column-start: 1;
    grid-column-end: 2;
}

#flex-element-prop {
    grid-column-start: 2;
    grid-column-end: 3;
}

#grid-global-prop {
    grid-column-start: 1;
    grid-column-end: 2;
}

#grid-element-prop {
    grid-column-start: 2;
    grid-column-end: 3;
}

#flex-prop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-column-start: 1;
    grid-column-end: 3;
    height: var(--height);
}

#grid-prop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-column-start: 1;
    grid-column-end: 3;
    height: var(--height);
}

#display {
  align-items: center;
}

#header-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

#header-flex {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-row-gap: 8px;
    grid-column-gap: 5px;
    /* padding: 5px; */
}

/* grid layout */
#layout-container {
    /* transform property added in order for the addBtn fixed position to work properly */
    transform: scale(1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-row-gap: 5px;
    grid-column-gap: 3px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 5px;
    height: var(--height);
}

.layout-properties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    height: var(--height);
}

.box {
  border: 1px solid gray;
  border-radius: 5px;
}

.initial-box {
    width: 25%;
    height: 25%;
    border: 1px solid gray;
}

/* flex layout */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 7;
  height: var(--height);
}

.flex-properties {
  grid-column-start: 2;
  grid-row-start: 5;
  grid-row-end: 7;
  height: var(--height);
}

.properties-div {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#header-propertie {

}

.properties-box {
  width: 33%;
  border: 1px solid gray;
  border-radius: 5px;
}

.properties-name {
  width: 33%;
  text-align: left;
}

.mouseEffects {

}

#addButton {
    /* to be fixed relative to the parent the latest must have transforme, perspective or filter properties */
    position: fixed;
    bottom: 0%;
    right: 0%;
    background-color: green;
    text-align: center;
    width: 10%;
    height: 5%;
    border-radius: 5px;
}

 /* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
