/* global variables */
:root {
  --height: 70vh;
}

/* page layout */
* {
  box-sizing: border-box;
  /* font:  */
}

h1 {
  text-align: center;
}

.styles {
  border: 1px solid gray;
  border-radius: 5px;
}

.prepertires-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: 1;
  grid-column-end: 3;
}

.header-text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

#display {
  align-items: center;
}

#header-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

#header-flex {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-row-gap: 8px;
  grid-column-gap: 5px;
  padding: 5px;
}

/* grid layout */
#layout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 5px;
  grid-row-gap: 5px;
  grid-column-gap: 3px;
  height: var(--height);
}

.layout-properties {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  height: var(--height);
}

.sub-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box {
  border: 1px solid gray;
  border-radius: 2px;
}

.box-two {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  /* background-color: rgba(255, 0, 0, 255); */
  z-index: 2;
}

.box-three {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 6;
  /* background-color: rgba(0, 0, 255, 255); */
  z-index: 1;
}

/* flex layout */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 7;
  height: var(--height);
}

.flex-properties {
  grid-column-start: 2;
  grid-row-start: 5;
  grid-row-end: 7;
  height: var(--height);
}

.properties-div {
  display: flex;
}

#header-propertie {

}

.properties-box {
  width: 33.3%;
}

.mouseEffects {

}
